@import '../global/styles';
@import '../global/button-1';
@import '../global/lines';

$circleWidth: 8px;

.main-ctn {
  width: 100%;
  .menu {
    display: none;
    position: fixed;
    top: 5px;
    left: 10px;
    width: 25px;
    z-index: 2;
    cursor: pointer;
  }

  aside {
    &.ocult {
      transform: translateX(-280px);
    }
    position: fixed;
    top: 0;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;

    -webkit-box-shadow: 1px 0px 21px 0px rgba(212, 212, 212, 1);
    -moz-box-shadow: 1px 0px 21px 0px rgba(212, 212, 212, 1);
    box-shadow: 1px 0px 21px 0px rgba(212, 212, 212, 1);
    transition: transform 1s ease;
    h1,
    h2 {
      color: $mainColor;
      font-weight: 600;
      font-size: 25px;

      span {
        font-weight: 300;
      }
    }

    .new-project {
      margin: 30px 0;
      width: 100%;
    }

    form {
      width: 100%;
      margin: 30px 0;
      .form-group {
        width: 100%;
        .project-name {
          width: 100%;
          border: none;
          outline: none;
          padding: 4px;
          font-size: 16px;
          background-color: transparent;
        }
      }
      .add-project {
        width: 100%;
        margin: 20px 0;
      }
    }

    .projects-list {
      margin: 20px;
      width: 100%;
      p:first-child {
        border-top: 1px solid rgb(230, 230, 230);
      }
      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-weight: 300;
        padding: 9px 0 9px 10px;
        font-size: 15px;
        border-bottom: 1px solid rgb(230, 230, 230);
        cursor: pointer;
        transition: all 300ms ease;
        span {
          display: block;
          width: $circleWidth;
          min-width: $circleWidth;
          height: $circleWidth;
          min-height: $circleWidth;
          background-color: $secondColor;
          border-radius: 100px;
          margin-right: 10px;
        }
        &:active {
          transform: scale(0.92);
        }
      }
    }
  }

  .main {
    width: calc(100% - 280px);
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px 40px;
      background-color: $secondColor;
      p {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        span {
          font-weight: 600;
        }
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .form-ctn {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form {
        width: 95%;
        max-width: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 30px;
        margin: 30px;
        border-radius: 2px;

        -webkit-box-shadow: 0px 5px 11px 0px rgba(227, 227, 227, 1);
        -moz-box-shadow: 0px 5px 11px 0px rgba(227, 227, 227, 1);
        box-shadow: 0px 5px 11px 0px rgba(227, 227, 227, 1);
        input[type='text'] {
          width: 100%;
          font-size: 18px;
          font-weight: 300;
          border: none;
          outline: none;
          padding: 6px;
          background-color: transparent;
        }

        input[type='submit'] {
          width: 100%;
          margin-top: 20px;
        }
      }
    }

    .tasks-ctn {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        color: $mainColor;
        text-align: center;
      }
      ul {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
          width: 80%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          margin: 10px 0;
          padding: 20px;
          border-radius: 2px;

          -webkit-box-shadow: 1px 2px 4px 0px rgba(222, 222, 222, 1);
          -moz-box-shadow: 1px 2px 4px 0px rgba(222, 222, 222, 1);
          box-shadow: 1px 2px 4px 0px rgba(222, 222, 222, 1);

          .buttons {
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .btn-task {
              border: none;
              border-radius: 2px;
              margin: 0 4px;
              padding: 5px 11px;
              color: #fff;
              font-weight: 400;
            }
            .completed {
              background-color: $secondColor;
              cursor: pointer;
            }
            .incomplete {
              background-color: #ff1733;
              cursor: pointer;
            }
            button:nth-child(2) {
              background-color: $mainColor;
              cursor: pointer;
            }
            button:nth-child(3) {
              background-color: $mainColor;
              cursor: pointer;
            }
          }
        }
      }

      .delete-project {
        border: none;
        border-radius: 2px;
        color: #fff;
        background-color: #fa3047;
        outline: none;
        font-weight: 400;
        margin-bottom: 20px;
        padding: 7px 14px;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }

  @media (max-width: 1100px) {
    .main {
      width: 100%;
      margin-left: 0;
      .tasks-ctn {
        ul {
          li {
            width: 93%;
          }
        }
      }
    }
    .menu {
      display: block;
    }
  }

  @media (max-width: 850px) {
    .main {
      width: 100%;
      margin-left: 0;
      .tasks-ctn {
        width: 95%;
        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 620px) {
    .main {
      width: 100%;
      margin-left: 0;
      .tasks-ctn {
        width: 95%;
        ul {
          li {
            .buttons {
              flex-direction: column;
              button {
                margin: 6px 0 !important;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 450px) {
    .main {
      header {
        p,
        a {
          font-size: 15px;
        }
      }
    }
  }
}
